@import 'font-awesome/font-awesome';

body {
    background: rgba(0, 0, 0, 1);
    font-size: 15px;
    height: 100%;
    width: 100%;
}

h1 {
    display: block;
    height: 3em;
}

nav {
    z-index: 1000000;
}

.navbar-inverse .navbar-toggler {
    border: 0;
    outline: none;
    cursor:pointer;
    transition: 0.3s ease;
    &:focus {
        transform: rotate(90deg);
    }
}

.navbar-brand {
    font-weight: 900;
    letter-spacing: 0.1em;
}

.nav-link {
    font-weight: 400;
    transition: 0.3s ease;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.bg-inverse {
    background: rgba(0, 0, 0, 1)!important;
}

.bg-letter {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    p {
        font-weight: 900;
        font-size: 55em;
        opacity: 0.2;
        user-select: none;
        pointer-events: none;
    }
}

.intro {
    .row {
        position: relative;
        div {
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h1 {
                margin: 0 auto;
                max-width: 1100px;
                color: rgba(255, 255, 255, 1);
                padding-left: 1em;
                border-left: 3px solid rgba(255, 255, 255, 1);
                span {
                    font-weight: 900;
                    letter-spacing: 0.1em;
                }
            }
        }
    }
}

.hd {
    color: rgba(255, 255, 255, 1);
    font-weight: 900;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 4.5em;
}

.projects-container {
    margin-bottom: 2em;
    img {
        width: 70%;
        height: auto;
    }
}

.bar {
    background: rgba(255, 255, 255, 0.1);
    height: 2em;
    padding: 0;
    margin-bottom: 2em;
    .bar-inner {
        background: white;
        height: 2em;
        transition: 0.2s ease;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0.7em;
        font-weight: 900;
        letter-spacing: 0.1em;
    }
}